/*** LESS COLORS ***/

/* Gray */
@grayBg: #ebebeb; /*Серый фон */

/* Blue */
@darkBlue: #026791;
@brightBlue: #0076ff;


/* LESS OTHER */
.square(@size){
	width: @size;
	height: @size;
}

.border-rad(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.leftTop(@left, @top){
	position: absolute;
	left: @left;
	top: @top;
}

.centerChildren{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}